STAGE=dev
DB_PASSWORD=MyPasswordSecret
DB_NAME=TalachappDB
DB_HOST=localhost
DB_PORT= 5432
DB_USERNAME=postgres
PORT=3000
HOST_CLIENT=http://localhost:5173
JWT_SECRET=talachapp_token
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_USER=user@example
MAIL_PASSWORD=pass@example
MAIL_FROM=noreply@example.com
PRIVARTE_KEY=key_*************
PUBLIC_KEY=key_***********
BUCKET_ACCESS_KEY=D**************
BUCKET_SECRET_ACCESS_KEY=8******************
BUCKET_REGION=n***
BUCKET_ENDPOINT=h**************************
BUCKET_NAME=***********