<p>Hola, <strong>{{name}}</strong></p>
<div>
  <p>Correo electrónico: {{email}}</p>
  <p>Contraseña: {{password}}</p>
</div>

<p>Si no solicitaste este correo electrónico, puedes ignorarlo con seguridad.</p>