<p>A new company has been created: <b>{{name}}</b></p>
<div>
  <p>Verify their information and register them so that they can operate in the
    system</p>
  <span>Here is your contact information if you want additional information</span>
  <p>Person in charge: <b>{{pesron}}</b></p>
  <p>Email: <b>{{email}}</b></p>
  <p>Phone: <b>{{phone}}</b></p>
</div>

<p>If you did not request this email you can safely ignore it.</p>