<p>Se ha recibido información para crear una nueva empresa:
  <strong>{{name}}</strong></p>
<div>
  <span>Aquí tienes la información de contacto si deseas información adicional</span>
  <p>Persona responsable: <strong>{{person}}</strong></p>
  <p>Correo electrónico: <strong>{{email}}</strong></p>
  <p>Teléfono: <strong>{{phone}}</strong></p>
  <hr />
  <p>Verifica su información y registralos para que puedan operar en el sistema</p>
  <br />
  <ul>
    <ol>Contactate y verifica su información.</ol>
    <ol>En el
      <strong>módulo de usuario</strong>
      creale un usuario a la persona que sera el administrador de la nueva
      empresa con el
      <strong>rol de talachero</strong>
      para que pueda accerder al sistema posteriormente.</ol>
    <ol>En el
      <strong>módulo de Centros talacheros → Empresas</strong>, crea una empresa
      con los datos validados.
      <strong>NOTA: no olvides llenar los campos Geocerca y escoger el usuario
        que le acabas de crear al nuevo administrador para que la nueva empresa
        quede activa por defecto en el sistema.</strong>
    </ol>
    <ol>El Correo electrónico y la clave sera enviada al nuevo administrador de
      la empresa para poder ingresar al sistema.</ol>
  </ul>
</div>

<p>Si no solicitaste este correo electrónico, puedes ignorarlo con seguridad.</p>